html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: #f8f7fd;
  font-family: 'Questrial', sans-serif;

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: smaller;
  font-weight: 100  ;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: smaller;
  font-weight: 100  ;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}



.navbar {
  display: flex;
  border: 0;
  padding: 10px;
  font-size: 16px;
  justify-content: space-between;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}
.navbar .first-div a {
  color: black;
  text-decoration: none;
}

.first-div {
  display: flex;
  margin: 10px 20px;
  
}

.first {
  font-weight: 800;
  font-size: 20px;
  margin: 2.5px 20px 0;
}

.second {
  margin: 6px 20px;
}

.second a {
  padding: 9px;
  margin: 0 12px;
}
.second-div {
  margin-top: 14px;
  margin-right: 30px;
}
.second-div a {
  margin: 0 10px;
  border-radius: 4px;
  padding: 10px 17px;
  text-decoration: none;
}

.signup {
  color: #f8f7fd;
  background-color: #7164f2;
  border-color: #a5a0bf;
}

.house-symbol{
  margin-right: 5px;
  color: #7164f2;
}

.down-symbol{
  position: relative;
  top: 2px;
  left:7px;
}

.login {
  border-color: #a5a0bf;
  border: 1px solid #a29fad;
}

.middle {
  color: black;
  margin-bottom: 40px;

}

.middle div {
  margin: 50px 150px;
  margin-bottom: 0;
}

.search {
  position: relative;
  float: right;
}

.middle-top {
  position:relative;
  display: flex;
  justify-content: space-between;
  max-width: 950px;
  right: 14px;
  
}

.middle-top input {
  height: 25px;
  padding: 5.5px;
  border: 1px solid #a29fad  ;
  border-radius: 4px;
  border-width: 1.5px;
  margin-right: -40px;
}

input[type="text"]::-webkit-search-decoration,
input[type="text"]::-webkit-search-cancel-button,
input[type="text"]::-webkit-search-results-button,
input[type="text"]::-webkit-search-results-decoration {
  display: none;
}

input[type="text"] {
  font-size: large;
  width: 170px;
  font-weight: 600;
  margin-top:10px;
}

input[type='date']{
  margin-top:12px;
  margin-left: 15px;
  margin-right:15px;  
}

.container {
  margin: -15px auto 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: grey;
  width: 950px;
  border-radius: 4px;
  padding: 29px 50px;
  background-color: white;

}

.container > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.vl {
  border-left: 1px solid grey;
  height: 45px;
  background: #f8f7fd;
  margin-left: 14px;
  margin-right: 14px;
}


.container div input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
}

.container div button {
  margin: 1px 24px 0px 35px;
  padding: 13px 27px;
  background: #7164f2;
  border-radius: 6px;
  border: 0;
  color: #f8f7fd;
  cursor: pointer;
}
select{
  font-family: 'Questrial', sans-serif;
  font-size: larger;
  font-weight: 1000;
  width:120px;
  margin-top: 12px;
  margin-right: 20px;
  padding-left:10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
}
.select-box::after{
  position: absolute;
  border-top: 8px solid #ccc;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.price{
  margin-left: 0;
}

.price-div{
  margin-top:13px;
  margin-right: 10px;
}

.price input{
  width:70px;
}

.dropdown {
  width: 200px;
  position: relative;
}
.dropdown:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
  color: #1e1a42;
}
.dropdown-select {
  padding: 5px;
  border-radius: 4px;
  margin-top: 10px;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  cursor: pointer;
  color: #1e1a42;
  font-size: large;
  font-weight: bolder;
}

.dropdown-list::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

.dropdown-list::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

.dropdown-list::-webkit-scrollbar-thumb {
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #a29fad;  /* creates padding around scroll thumb */
}

.dropdown-list {
  border-radius: 4px;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear;
  transform: translateY(10px);

  margin:5px;
  padding:5px;
  width: 100%;
  min-height: 0;
  max-height: 200px;
  overflow: auto;
  text-align:justify;}

  .dropdown-list:before {
  content: "";
  width: 100%;
  height: 10px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}
.dropdown-list__item {
  padding: 1rem;
  cursor: pointer;
  font-size: 15px;
}


.wrapper {
  width: 220px;
  background: #fff;
  border-radius: 10px;
  padding: 0px 1px 0px;
  margin-top: -19px;
  height: 10px;
  
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.price-input {
  width: 100%;
  display: flex;
  margin: 30px 1px 35px;
}
.price-input .field {
  display: flex;
  width: 400%;
  height: 20px;
  align-items: center;
}
.field input {
  width: 70px;
  height: 100%;
  padding:5px;
  
  outline: none;
  font-size: 19px;
  margin-left: 10px;
  margin-right: -16px;
  border-radius: 5px;
  text-align: left;
  border: 1px solid #999;
}

.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}

.field span{
color: #1e1a42;
font-weight: bold;
}

.validation{
  z-Index:2;
  display:inline-block;
  position:relative ;
  clear: both;
  white-space: nowrap;
  right:50%;
  width:200px;
  top:29px;
  font-size:0.7rem;
  color: red;
}

/* .middle-bottom {
  display: flex;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 4px;

}

.middle-bottom div {
  text-align: left;
  margin: 0 auto;
}

.middle-bottom div input {
  margin-top: 10px;
  padding: 5px;
}

.middle-bottom button {
  color: white;
  background-color: #7164f2;
  border: 0;
  border-radius: 4px;
  width: 100px;
  padding: 20px;
  cursor: pointer;
} */

.cards {
  margin: 0 auto;
  max-width: 1045px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;

}

.card {
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height:348px;
}

.card__image {
  width: 100%;
  display: block;
  height: 50%;
}

.card__content {
  font-size: 0.9em;
  padding: 15px;
  background: #fafafa;
  padding: 10px;
}

.card__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.color-purple {
  color: #7164f2;
}

.month-style{
font-size: small;
font-weight: lighter;

}
.cards span,
.card p {
  color: #a29fad  ;
}

.heart{
  float: right;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #a5a0bf ;
}

